.App {
  text-align: center;
}

.card img {
  height: 300px;
}

.card {
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
